<!-- <div class="alert alert-danger">
  <button class="btn btn-success">Salam</button>
</div> -->

<h3 class="bg-primary text-white p-3">
  TopLearn.com To Do List
</h3>

<div class="my-1">
  <input type="text" class="form-control">
  <button class="btn btn-success mt-1">Add</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Task1</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Task2</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
